
    <div class="fl w-100 w-50-ns ph2">
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo1"}}"></a>
      <a class="no-underline pv2 grow db"><img class="db w-100" src="{{.Get "photo2"}}"></a>
      <a class="no-underline pv2 grow db"><img class="db w-100" src="{{.Get "photo3"}}"/></a>
      <a class="no-underline pv2 grow db"><img class="db w-100" src="{{.Get "photo4"}}"/></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo5"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo6"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo13"}}"></a>
    </div>
    <div class="fl w-50 w-50-ns ph2">
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo7"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo8"}}"> </a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo9"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo10"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo11"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo12"}}"></a>
    </div>
   
   