
    <div class="fl w-100 w-50-ns ph2">
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo1"}}" alt="{{.Get "alt1"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo3"}}" alt="{{.Get "alt3"}}"/></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo5"}}" alt="{{.Get "alt5"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo7"}}" alt="{{.Get "alt7"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo9"}}" alt="{{.Get "alt9"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo11"}}" alt="{{.Get "alt11"}}"></a>
    </div>
    <div class="fl w-50 w-50-ns ph2">
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo2"}}" alt="{{.Get "alt2"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo4"}}" alt="{{.Get "alt4"}}"/></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo6"}}" alt="{{.Get "alt6"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo8"}}" alt="{{.Get "alt8"}}"> </a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo10"}}" alt="{{.Get "alt10"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo12"}}" alt="{{.Get "alt12"}}"></a>
      <a class="pv2 grow db no-underline black"><img class="db w-100" src="{{.Get "photo13"}}" alt="{{.Get "alt13"}}"></a>
    </div>
   
   